/*Center alingment for the form*/
#caf{
text-align:center;


}
.crt {
background-color: #000000;
color:lightgrey;
border-radius: 4px;
font-size:16px;
}


.Title{
   font-size: x-large;
}
.rest{
   font-size: medium;
}

.all{
  width: 500px;
  height: 190px;
  flex-basis: 100px;
  background: #cecaca;
  border-radius: 10px;
  margin-bottom: 3%;
  box-sizing: border-box;
  transition: 0.5s;
  }
  
  .all:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
  }



/* CSS  styling for the button */
.sub {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #212627 0, #0a0a0a 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.sub:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.sub:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.sub:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Body Background for all pages */
body {
  background-image: url('/static/bgg.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 2000px; 
}
/* form field styling*/
#ttl, #mc, #dline{
 width: 1000px;
}
#desc{
   width: 1000px;
   height: 180px;
}

