{% extends "homepage.html" %}
 {% block content %}
<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">Shoptoro Latest Blog &amp; News</h4>
                <p class="text-muted para-desc mx-auto mb-0">Below are some reviews form our Frequent Customers</p>
                <p class="text-muted para-desc mx-auto mb-0">We beleieve in serving our customers</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="https://img.freepik.com/free-photo/portrait-beautiful-young-woman-standing-grey-wall_231208-10760.jpg?w=1380&t=st=1671107263~exp=1671107863~hmac=94927dde03574dbf18c66629a7c90f420736031d541b6d68b613e9a011807f5f" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">30th Jan, 22</small>
                    <small><a href="javascript:void(0)" class="text-primary">Review</a></small>
                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">Quintessential Shopping destination</a></h4>
                    <p class="text-muted mt-2">Amazing, they answer the phone immediately or call you back within minutes. Quick to resolve. Authentic with their apologies. I Wish everyone was as efficient and helpful as shoptoro the world would be a better place</p>
                    <div class="pt-3 mt-3 border-top d-flex">
    
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Lisa Marvel</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="https://img.freepik.com/premium-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg?w=1380" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">20th Nov, 18</small>
                    <small><a href="javascript:void(0)" class="text-primary">Review</a></small>
                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">Reasonable Prices Good Item Selection</a></h4>
                    <p class="text-muted mt-2">This has been my main online store for over 3 years, Had a few issues with deliveries made to the wrong address but shoptoro has always sorted and customer service is always quick and helpful 24 hours 7 days in a week.</p>
                    <div class="pt-3 mt-3 border-top d-flex">
    
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Peter Andres</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
   
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="https://img.freepik.com/free-photo/man-with-sunglasses-wearing-white-t-shirt-posing_158538-16702.jpg?w=996&t=st=1671107125~exp=1671107725~hmac=0876ad22a605816c81886359c46feb807e48abade3e52097717e9d2aeff17f12" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">19th Oct, 19</small>
                    <small><a href="javascript:void(0)" class="text-primary">Review</a></small>
                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">Best Store So Far</a></h4>
                    <p class="text-muted mt-2">Compared to other sites I always have a good experience. While not perfect there is good selection, good service, and good shipping times. Any issues have been outliers.</p>
                    <div class="pt-3 mt-3 border-top d-flex">
    
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Johnson Dallakoti</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
   
</div>
{% endblock %}