{% extends "homepage.html" %}
 {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<h2 align ='Center'>Change Password</h2>
<div align = "center">
   <form class="form-signin" method = "post" name = "signup">
     {{ form.hidden_tag() }}
     <img class="mb-4" src="https://img.freepik.com/free-vector/shopping-cart-realistic_1284-6011.jpg?w=740&t=st=1671107999~exp=1671108599~hmac=3f6c87c23009cf585f5951223766e727eb056b3e9fb9e66c28335151bc9b922d" alt="" width="72" height="72">
     <h1 class="h3 mb-3 font-weight-normal">Login</h1>
     <label>Enter Current Password</label>
     <p >{{ form.curpwd(class_="form-control")  }}</p>
     <label>Enter New Password</label>
     <p >{{ form.paswrd(class_="form-control")  }}</p>
     <label>Password</label>
     <label >Re-enter Password</label>
     <p >{{ form.newpwd(class_="form-control") }}</p>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
     </div>     
   </form>
 </div>

{% endblock %} 



