{% extends "homepage.html" %}
 {% block content %}
<h2>WELCOME {{current_user.user}} </h2>
<p> Browse from our collection and feel free to add any products you wish to buy</p>
<div class="container px-4 px-lg-5 mt-5">
    {% for data_row in data | batch(3) %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for col in data_row %}
        <div class="col mb-5 ">
            <div class="card h-100 card bg-light mb-3">
                <!-- Product image-->
                <img class="card-img-top" src="{{col.itemurl}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{col.itemname}}</h5>
                        <!-- Product price-->
                        {{col.itemcost}}<br>
                        {{col.itemdesc}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                    <form action  ="/add_to_cart/{{col.pid}}" method = "post" onsubmit ="PopupAdd()">
                    <input type = "submit" class = "btn btn-outline-secondary" value = "Add to Cart"></div> 
                </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
